<div id="msgOverlay" class="overlay-closed">
	<div id="msgModal" class="singleContainer"></div>
</div>
<div class="wrapper">
	<div id="submissionArea" class="jumbotron"></div>
	<div class="content">
		<section id="messageViewer">
			<div class="section-header">
				<h2 class="section-title">Testing</h2>
			</div>
			<div id="trendingConfessions"></div>
		</section>
	</div>
	<div class="footer">
		<section class="col-xs-6">Test1</section>
		<section class="col-xs-6">Test2</section>
	</div>
</div>