<div id="captcha-div" hidden>
	<input type="text" id="txtCaptcha"
            style="background-image:url(1.jpg); text-align:center; border:none;
            font-weight:bold; font-family:Modern" />
    <input type="button" id="btnrefresh" value="Refresh" onclick="DrawCaptcha();" />
    <br/>
    	<input type="text" id="txtInput"/>
    <br/>
    	<input id="Button1" type="button" value="Check" onclick="alert(ValidCaptcha());"/>

</div>
<div class="masthead clearfix">
	<div class="inner">
		<h3 class="masthead-brand">Confession</h3>
		<ul class="nav masthead-nav">
			<li><a href="/#login">Login</a></li>
			<li><a href="#">About</a></li>
		</ul>
	</div>
</div>
<div class="container">
	<h1 class="cover-heading">confess</h1>
	<div id="confessFormRegion">
		<form role="form">
			<div class="form-group">
				<textarea id="message"></textarea>
			</div>
			<div class="form-group">
				<label for="alias">Alias</label>
				<input type="text" id="alias">
			</div>
			<p class="lead">
				<button class="btn btn-lg btn-success" id="add">Confess</button>
			</p>
		</form>
	</div>
</div>
